<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <title>
    <%= main_page.title %>
  </title>
  <meta name="description" content="42px" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
  <!-- <%- include('header.ejs') %> -->
  <%- include main.ejs %>
    <%- include table-content.ejs %>
      <%- include about-block.ejs %>
        <%- include about.ejs %>
          <%- include portfolio-block.ejs %>
            <%- include footer.ejs %>
              <%- include portfolio-42px.ejs %>
</body>

</html>